body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1, p, nav {
  text-align: center;
}
img {
  display: block;
}
nav a {
  padding: 0 10px;
  background: #eee;
}
figcaption {
  font-size: 15px;
  text-align: center;
}
#feature-property > p {
  width: 800px;
}
#details {
  display:  block;
  
  background-color: red;
}